<h3>Overworld Coordinates</h3>

X: <input type="text" value="0" data-world="overworld" name="overworld-x" />
<br/>
Y: <input type="text" value="0" data-world="overworld" name="overworld-y" />
<br/>
Z: <input type="text" value="0" data-world="overworld" name="overworld-z" />
<br/>

<h3>Nether Coordinates</h3>

X: <input type="text" value="0" data-world="nether" name="nether-x" />
<br/>
Y: <input type="text" value="0" data-world="nether" name="nether-y" />
<br/>
Z: <input type="text" value="0" data-world="nether" name="nether-z" />