<form>
    <div class="items"></div>
    <br/>
    
    <a href="#" class="add-item">+ Add Recipe</a>
    <br/>
    
    <a href="#" class="submit">Search</a>
    <br/>
    
    <a href="#" class="reset">Reset</a>
</form>
<br/>

<div class="errors"></div>
<br/>

<div class="initial-materials">
	<strong>Initial Materials</strong>
    <br/>
    <div class="initial-materials-results"></div>
</div>
<br/>

<div class="final-materials">
	<strong>Final Materials</strong>
    <br/>
    <div class="final-materials-results"></div>
</div>