<h3>Starting Coordinates</h3>
<p>Enter the coordinates of where you want the map to be centered.</p>

X: <input type="text" value="0" name="x" />
<br/>
Z: <input type="text" value="0" name="z" />
<br/><br/>

<h3>Zoom Level</h3>
<p>Enter the zoom level you want every map to be at.</p>
<select name="zoom-level">
    <option value="0">0 (128x128)</option>
    <option value="1">1 (256x256)</option>
    <option value="2" selected="selected">2 (512x512)</option>
    <option value="3">3 (1024x1024)</option>
    <option value="4">4 (2048x2048)
</select>
<br/>

<h3>Dimensions</h3>
Rows: <input type="text" value="3" name="rows" />
<br/>
Columns: <input type="text" value="3" name="columns" />
<br/><br/>

<a href="#" class="submit">Calculate</a>
<br/><br/>

<div class="results"></div>